<header class="Header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid me-2">
            <a href="/inicio">
              <img src="\assets\Q-online.png" alt="logo" height="50">
            </a>
            <div class="d-flex align-items-center">
              <div class="text-white pe-4">
                <p><strong>R${{dataMoney}}</strong></p>
              </div>
              <div class="dropdown ">
                  <button style="background-color: transparent; border: none;" class="dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-user fa-xl"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                    <li><a (click)="sacarValor()" class="dropdown-item">Sacar valor</a></li>
                  </ul>
                </div>
            </div>
            
        </div>
      </nav>
</header>
<section>
  <router-outlet></router-outlet>
</section>

<footer class="Footer" style=" background-color: #11111182;">
  <div class="container">
    <footer class="py-3">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      </ul>
      <p class="text-center text-muted">© 2024 Q-Online</p>
    </footer>
  </div>
</footer>

<div class="alert alert-success d-none fixed-bottom text-center" role="alert" id="true">
  <p class="mb-0"><strong>Valor retirado com sucesso!</strong></p>
</div>
<div class="alert alert-success d-none fixed-bottom text-center" role="alert" id="false">
  <p class="mb-0"><strong>Erro ao retirar saldo</strong></p>
</div>